.activity-container {

    h1 {
        padding: 20px 30px;
        color: rgb(46,67,105);
        font-size: 20px;
        font-weight: 600;
    }

    .activity-detail {   
        .activity-pages {
            display: flex;
            color: rgb(46,67,105);
            
            div {
                padding: 0 5px;
                height: 30px;
                line-height: 30px;
            }
            
            .update-pages:hover {
                cursor: pointer;
            }

            .hide {
                color: rgb(242,245,247);
            }
        }
    }
}

.activity-index-item {
    padding: 0px 30px;
    border-top: 1px solid rgb(226,230,232);
    color: rgb(46,67,105);
    
    
    .activity-index-basic {
        height: 100px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(226,230,232);
        height: 100px;
        color: rgb(46,67,105);

        .item-detail-container {
            display: flex;  
            justify-content: space-evenly;
            padding: 10px 20px;

            .activity-icon {
                font-size: 50px;
                color:  rgb(46,67,105);
                align-self: center;
            }

            .item-details {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .item-recipient {
                    font-size: 16px;

                    span {
                        font-weight: 600;
                    }
                }

                .item-date {
                    font-size: 14px;
                }
            }
        }

        .item-amounts {
            padding: 10px 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .top, .bottom {
            text-align: right;
        }

        .top {
            font-size: 20px;
            font-weight: 400;
        }

        .bottom {
            font-size: 15px;
        }

    }

    .activity-extra {
        display: flex;
        padding-left: 85px;
        max-height: 0px;
        transition-property: all;
        transition-duration: 0.5s;
        overflow: hidden;

        .activity-name {
            width: 30%;
        }
        
        .activity-desc {
            padding-left: 30px;
            width: 50%;
        }
        
        h3 {
            font-weight: 600;
        }
    }

    .show-details {
        max-height: 250px;
        padding-bottom: 20px;
    }
}

.activity-index-item:hover {
    background: rgb(255,255,255);
}
