.balance-bar-container {
    .add-cash {
        display: flex;
        padding: 10px 50px;
        border-bottom: 1px solid rgb(226,230,232);
        font-size: 15px;
        background: rgb(255,255,255);

        .add-cash-form {
            display: flex;
            justify-content: space-between;

            .add-cash-dropdown {
                margin-right: 30px;
                height: 36px;
                font-size: 15px;
            }

            input {
                width: 100px;
                height: 36px;
                color: rgb(255,255,255);
                background: rgb(46,208,110);
                border-color: rgb(46,208,110);
                border-radius: 5px;
                font-size: 15px;
            }

            input:hover {
                background: rgb(61, 173, 74);
                border-color: rgb(61, 173, 74);
                cursor: pointer;
            }
        }

        .add-cash-quote {
            padding-left: 50px;
            color: rgb(100,100,100);
            line-height: 36px;
        }
    }
}

.currencies-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 30px;

    .currencies-table {
        padding: 30px;
        width: calc(100% - 60px);
        color: rgb(46,67,105);

        tr {
            height: 60px;
            border-top: 1px solid rgb(226,230,232);

            th {
                text-align: center;
                font-size: 25px;
            }

            td {
                text-align: center;
                font-size: 20px;
            }

            .balance-flag {
                width: 50px;

                .flag {
                    height: 40px;
                    width: 40px;
                    border-radius: 20px;
                }
            }

            .balance-currency {
                width: 150px;
            }

            .balance-amount {
                width: 200px;
            }
            
            .balance-send {
                width: 100px;

                button {
                    width: 100px;
                    height: 36px;
                    color: rgb(255,255,255);
                    background: rgb(46,208,110);
                    border-color: rgb(46,208,110);
                    border-radius: 5px;
                    font-size: 15px;
                }

                button:hover {
                    background: rgb(61, 173, 74);
                    border-color: rgb(61, 173, 74);
                    cursor: pointer;
                }
            }
        }

        tbody > tr:hover {
            background: rgb(255,255,255);
        }
    }
}