.calculator {

    margin-top: 60px;

    .from-div, .to-div {
        display: flex;
        width: 400px;

        .input-symbol {
            position: relative;
            left: 5px;
            bottom: -32px;
            width: 0px;
            font-size: 22px;
            font-weight: 400;
            color: rgb(46,67,105);
        }
    }

    .label {
        height: 0px;
        position: relative;
        left: 12px;
        bottom: -12px;
        color: rgb(46,67,105);
        font-size: 14px;
    }

    input {
        width: calc(100% - 114px);
        padding: 28px 25px 4px;
        font-size: 22px;
        line-height: 32px;
        color: rgb(46,67,105);
    }
    
    select {
        font-size: 22px;
        line-height: 32px;
        padding: 14px 10px;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        background: rgb(46,67,105);
        color: rgb(255,255,255);
    }


    .rates-div {
        margin-left: 15px;
        border-left: 2px solid rgb(37,54,85);

        li {
            position: relative;
            left: -9px;
            padding: 10px 0px;

            span {
                padding-right: 8px;
                color: rgb(37,54,85);
            }

            #rate-amount {
                font-weight: 600;
                color: rgb(68,186,251);
            }

            #rate-amount:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            #rate-symbol {
                color: rgb(94,203,144);
            }
        }

    }
}