.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 80vw;
}

#modal-container {
  padding: 15px;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
  }

  #labels-container {
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
  }
}

